html,body,div,h1,h2,h3,h4,h5,h6,p,span,input,ul,li,td{font-family:"Lucida Grande",Helvetica,Arial,Verdana,sans-serif}

body {
  background: #000;
  color: #ddd;
}
#menu-nav {
  position: relative;
  float: right;
  top: 10px;
  text-align: right;
}

ul.inline {
  margin: 0; padding: 0
}

ul.inline li {
  display:inline;
  border-left: 1px solid #ccc;
  margin-left: 6px;
  padding-left: 8px;
}

ul.inline li.first {
  padding-left: 0;
  margin-left: 0;
  border: 0px;
}

a:focus, a:hover {color:#fff;text-decoration:underline}
a {color:#fff;text-decoration:none}

#channel-pane {
  display:none;
}

.channel {
  margin: 1em;
  float: left;
  width: 200px;
  height: 240px;
}

img.channel-thumbnail {
  width: 200px;
  height: 200px;
}

.channel-title {
  margin-top: 0.8em;
  text-align: center;
}

#new-channel-dialog {
  text-align:left;
  display:none;
}

#new-channel-url {
  width: 100%
}

.ok-cancel-buttons {
  float:right;
  position:relative;
}

.channel-header {
}

.channel-header-thumbnail {
  float:left;
}

.channel-header-thumbnail img {
  width: 120px;
  height: 120px;
}

.channel-header-infobox {
  float:left;
  margin-left: 2em;
}

div.separator {
  clear: both;
  padding-top: 1em;
  color: #444;
}

.separator hr {
  background-color: #444;
}

.item-thumbnail {
  float:left;
}

.item-thumbnail img {
/*  width: 120px;
  height: 90px; */
}

.item-infobox {
  float: left;
  margin-left: 2em;
}

div.item-separator {
  clear: both;
  padding-top: 1em;
  color: #444;
}

.item-separator hr {
  background-color: #444;
}

.item-infobox-misc {
  position: relative;
  float: right;
/*  top: 10px;*/
  text-align: right;
}

#flash-player {
  display:none;
  background: #000;
}

.close-button {
  margin-right: 0.6em;
  text-align:right
}
