html,body,div,h1,h2,h3,h4,h5,h6,p,span,input,ul,li,td{font-family:"Lucida Grande",Helvetica,Arial,Verdana,sans-serif}

body {
  background: #000;
  color: #fff;
}
#menu-nav {
  position: relative;
  float: right;
  top: 10px;
  text-align: right;
}

ul.inline {
  margin: 0; padding: 0
}

ul.inline li {
  display:inline;
  border-left: 1px solid #888;
  margin-left: 6px;
  padding-left: 8px;
}

ul.inline li.first {
  padding-left: 0;
  margin-left: 0;
  border: 0px;
}

/*a:focus, a:hover {color:#fff;text-decoration:underline}*/
a:focus, a:hover {color:#fff}
a {color:#ddd;text-decoration:none}

#channel-pane {
  display:none;
}

.channel {
  margin: 1em;
  float: left;
  width: 192px;
  height: 240px;
  position: relative;
}

.channel-thumbnail-wrapper {
  width: 192px;
  height: 192px;
  border: 1px solid black; /* for hover */
}

img.channel-thumbnail {
  width: 192px;
/*  height: 192px; */
  vertical-align: middle;
}

.channel-unwatched-hover {
  position:absolute;
  width:18%;
  text-align:center;
  top:5%;right:5%;
  font-size: 1.2em;
  font-family: Helvetica, trebuchet MS;
  background: #c00;
  display:none; /* should badgify with JS */
}

.channel-unwatched-hover-gray {
  color: #888;
  background: #600;
}

.channel-refresh-hover {
  position:absolute;
  text-align:center;
  top:70%;right:5%;
  display:none; /* should badgify with JS */
}

.channel-clickable a {
  font-weight: bold
}

.channel-title {
  margin-top: 0.8em;
  text-align: center;
  font-weight: bold;
  color: #aaa;
}

#new-channel-dialog {
  text-align:left;
  display:none;
}

#import-opml-dialog {
  text-align:left;
  display:none;
}

#new-channel-url {
  width: 100%
}

.float-left {
  float:left;
  position:relative;
}

.float-right {
  float:right;
  position:relative;
}

.channel-header {
}

.channel-header-thumbnail {
  float:left;
  margin-left:8px;
}

.channel-header-thumbnail img {
  width: 128px;
  height: 128px;
}

.channel-header-infobox {
  float:left;
  margin-left: 1em;
}

.channel-header-nextprev {
  position: relative;
  float: right;
/*  top: 10px;*/
  text-align: right;
  font-weight: none;
  color: #888;
}

.channel-header-data {
  padding-bottom: 1em;
}

div.separator {
  clear: both;
  padding-top: 1em; 
  color: #444;
}

.separator hr {
  background-color: #444;
}

.item-thumbnail {
  position:relative;
  float:left;
  margin-left:8px;
}

.item-thumbnail img {
/*  width: 120px;
  height: 90px; */
}

.item-infobox {
  float: left;
  margin-left: 1em;
}
 
div.item-separator {
  clear: both;
/*  padding-top: 1em; */
  color: #444;
}

.item-separator hr {
  background-color: #444;
}


.item-infobox-misc {
  position: relative;
  float: right;
/*  top: 10px;*/
  text-align: right;
  font-weight: none;
  color: #888;
}

#channel-items {
  padding-top: 10;
}

.channel-item {
  border-top: 1px solid #444;
  padding-top: 12px; 
  padding-bottom: 12px; 
}

.channel-item-unwatched {
  color: #fa0
}

.hover-channel .channel-thumbnail-wrapper {
  border: 1px #fff solid;
}

.hover-channel .channel-title {
  color: #fff;
}

.hover-channel-item {
  background: #111;
}

.channel-item-play {
  position:absolute;
  border: 1px #aaa solid;
  background: #000;
  color: #ddd;
  text-align:center;
  left: 25%; right:25%;
  bottom:5%;
}

.item-progressbar {
  position:absolute;
  text-align:center;
  width: 100%;
  bottom:5%;
}

.channel-header-title {
  margin-bottom:0
}

.channel-header-data, .channel-header-data a {
  color: #666;
}

.embed-player-footer {
  display: none;
  text-align: left;
  position: absolute;
  background: #000;
  left:0; right:0;
  padding: 1em;
  bottom:20px; height:8%;
  margin:0px;
  color:#fff;
}

.embed-player-item-title {
  font-size: 1.6em;
  font-weight: bold;
}

.embed-player-channel-title {
  font-size: 1.4em;
  font-weight: normal;
}

.show-more-items {
  margin-top: 1em;
  text-align: right;
}

div#jqContextMenu {
        -webkit-border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.1);
        -moz-user-select: none;
        -webkit-user-select: none;
        white-space: nowrap;
}

div#jqContextMenu ul {
        filter: alpha(opacity=98);
        -moz-opacity: .98;
        /* opacity: .98; */ /* mozilla should work with -moz-opacity, webkit should work with rgba() */
        -webkit-box-shadow: 0 10px 25px rgba(0,0,0,0.4);
        -webkit-border-radius: 5px;
}

iframe#upload-frame {
        display: block; /* Don't change this : safari forms won't target hidden frames (they open a new window) */
        position: absolute;
        top: -1000px;
        left: -1000px;
        width: 0px;
        height: 0px;
        border: none;
        padding: 0;
        margin: 0;
}

/* HACK to hide those in DOM ready for jQuery 1.3 */
.contextMenu {
  color: #000
}

#shadowbox_content.html {
 overflow: hidden; /* override */
}
