body {
  background: #000;
  color: #ddd;
}
#sidebar {
  float: left;
  width: 240px;
}

ul.menu li { display:inline }

a:focus, a:hover {color:#fff;text-decoration:underline}
a {color:#fff;text-decoration:none}

#media-items {visibility:none}
.channel-item {
  margin: 1em;
  float: left;
  width: 200px;
  height: 120px;
}

